@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  font-size: 15px;
  max-width: 1920px;
  font-family: 'lato', sans-serif;
  line-height: 22px;
  color: #999999;
  scrollbar-color: #3e9cdc #3d4050;
  scrollbar-width: 7px;
    overflow-x: hidden;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
    color: #272733;
  }
  
  ::-moz-placeholder {
    color: #272733;
  }
  
  :-moz-placeholder {
    color: #272733;
  }
  
  :-ms-input-placeholder {
    color: #272733;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
    background-color: #3d4050;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3e9cdc;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #3e9cdc;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #3e9cdc;
  }

/* header */

header.header {
    width: 100%;
    height: 850px;
    background-image: url(../img/img__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
   
}
.menu {    
    height: 100px;
    background: #10101DE5;
    opacity: 90%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;        
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;    
    margin: 0 auto;
}


.menu-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 247px;
}

.menu__box {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; 
}
.menu__box li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
}
.menu__box li a:hover {
    color: #43ABF0;
}

input#menu__toggle {
    display: none;
}

.banner-info {
    margin-top: 103px;
    width: 800px;
}

.banner .banner-info__title {
    color: #333;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: left;
    text-transform: uppercase;
}

.banner-info__title span {
    color: #43ABF0;
}

.banner .banner-info__text  p{
    margin-top: 80px;
    margin-bottom: 15px;
    color: #333;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.banner .banner-info__text ul {
    color: #333;   
    font-size: 20px;
    line-height: 24px;
    padding-left: 15px;
}

.banner .banner-info__text ul li:before {
    content:  "-";
    position: relative;
    left:     -5px;
}

.banner .button {
    margin-top: 80px;
}

.button button {    
    width: 182px;
    height: 42px;
    color: #333;
    text-transform: uppercase;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid#6F6D7B;
    border-radius: 5px;
}

.button button:hover { 
    color: #fff;
    background-color: #3E9CDC;
    border: 1px solid#fff;
}

/* order */

.order {
    width: 100%;
    padding-bottom: 40px;
    background-color: #272733;
    background-image: url(../img/bg__order.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
}

.order-block .order-info {
    text-align: center;
    padding-top: 120px;
}

.order-block .order-info__title { 
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;       
    text-align: center;
    text-transform: uppercase;
}

.order-block .order-info__text {
    font-size: 18px;
    padding-top: 30px;
}

.order-block .order-info__title span {
    color: #43ABF0;
}

.order-block .order-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    text-align: center;
}

.order-icons {
    height: 300px;
}

.icon-block {
    width: 20%;
    height: 100px;
}

.icon-block .icon-block__img i.fa {
    color: #fff;
    font-size: 36px;
    background-color: #43abf0;
    padding: 25px;
    border-radius: 50%;
    border: 5px solid #286690;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}


.icon-block .icon-block__text {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
}

.icon-block__img {
    position: relative;
}

.icon-block__img:before {
    content: '';
    background-image: url(../img/points.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    right: -55px;
    display: inline-block;
    width: 112px;
    height: 6px;
}

.order-icons .icon-block:last-child .icon-block__img:before {
    content: none;
}

.order-form form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.form .form__group .form__input {
    width: 370px;
    height: 48px;
    padding-left: 20px;    
    font-size: 18px;  
}

.form .form__group .form__input_bg {
    background-color: #dfdfe1;
    border: 1px solid #fff;
    border-radius: 4px;
}

.form .form__group .form__input_mid {
    padding-left: 0px;
}

.form__wrap-dropdown {
    max-width: 370px;
    width: 100%;
    text-align: left;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #272733;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
    right: 20px;
    border-top: none;
    border-left: none;
  }
  
  .dropdown_open::after {
    border-color: #fff;
  }
  
  .dropdown__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #dfdfe1;
    width: 370px;
    height: 48px;
    border: none;
    color: #272733;
    padding-left: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  .dropdown__button_open {
    background-color: #3d4050;
    color: #fff;
    border: none;
  }
  
  .dropdown__list-wrap {
    position: absolute;
    left: 0;
    top: 48px;
    background-color: rgba(35, 35, 46, 0.9);
    width: 100%;
    padding: 3px 3px 3px 24px;
    border: 1px solid #3d4050;
    border-radius: 0 0 3px 3px;
    display: none;
  }
  
  .dropdown__list-wrap_visible {
    display: block;
  }
  
.dropdown__list {
    color: #fff;
    width: 100%;
    max-height: 180px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-face-color: #3e9cdc;
    scrollbar-track-color: #3d4050;
    scrollbar-arrow-color: #3d4050;
  }
   
  .dropdown__list-item {
    padding: 8px 0;
    cursor: pointer;
  }
  
  .dropdown__list-item:hover {
    color: #42a9ed;
  }
  
  .dropdown__input-hidden {
    display: none;
  }


.order-range {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.range-slider input#range {
    width: 780px;
    height: 13px;
}

.range-info {
    display: flex;
    justify-content: space-between;
}

.range-info p {
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

.range-attach {
    /* position: relative; */
    margin: 15px 0;
    text-align: center;
  }
   
  .range-attach__input_file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .range-attach__file-icon {
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
  }
   
  .range-attach__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  .range-attach__file-button {
    width: 370px;
    height: 48px;
    background: #fff;
    color: #333;
    font-size: 15px;
    text-transform: uppercase;  
    border: 2px solid #3E9CDC;  
    border-radius: 3px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: center;
  }

  .range-attach__file-button:hover {
      background-color: #3E9CDC;
      color: #fff;
      border: 2px solid #fff;
  }

  .order-button {
    margin-top: 25px;
    text-align: center;
}
 .order-button button {
    width: 370px;
    height: 48px;
    color: #fff;
    text-transform: uppercase;
    background-color: #43abf0;
    border: 2px solid #fff;
}

.order-button button:hover {
    background-color: #fff;
    color: #333;    
    cursor: pointer;
}

/* footer */

.footer {
    width: 100%;
    height: 80px;
    background-color: #3D4050;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.info {
    color: #fff;
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.info-copy span {
    text-transform: uppercase;
}

.info-copy, .info-pay, .info-social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.info__line {
    width: 1px;
    height: 18px;
    background-color: #ffffff;
}
.info-pay__block span {
    text-transform: uppercase;
}

.info-pay__block, .info-social__block {
    display: flex;
    padding: 0 15px;
}

.info-pay .info-pay__block {
    color: #C3C3C3;
}

.info .info-pay__img {
    padding-right: 10px;
}

.info-social__block a.link {
    color: #fff;
}

.info-social__block a.link:hover {
    color: #43ABF0;
}

/* адаптив */

@media only screen and (max-width: 1224px) {
    header.header {
        height: 700px;       
    }
    .banner .banner-info__title {
        font-size: 38px;
    }
    .banner .banner-info__text p {
        font-size: 16px;
    }

    .banner .banner-info__text ul {
        font-size: 16px;
    }

    .icon-block .icon-block__img i.fa {
        font-size: 20px;
        width: 80px;
        height: 80px;
    }
    .icon-block__img:before {
        top: 35px;
        width: 95px;
    }
    .icon-block .icon-block__text {
        font-size: 14px;
    }
    
    .order-block .banner-info__title {
        font-size: 32px;
    }

    .order-block .order-info__text {
        font-size: 16px;
    }

    .form .form__group .form__input {
        width: 300px;
        height: 40px;
    }

    .form .form__group .dropdown__button {
        width: 300px;
        height: 40px;
    }

    .form .form__group .dropdown::after {
        top: 15px;
    }

    .range-attach .range-attach__file-button {
        width: 300px;
        height: 40px;
    }

    .range-slider .range-info p {
        font-size: 18px;
    }

    .range-slider input#range {
        width: 650px;
    }

    .info-pay .info-pay__block p {
        display: none;
    }

    .info-social .info-social__block p {
        display: none;
    }
    
}

@media screen and (max-width: 1024px) {
    header.header {
        height: 680px;
    }
    
    .banner .banner-info__title {
        font-size: 36px;
    }
    .banner .banner-info__text p {
        font-size: 14px;
    }

    .banner .banner-info__text ul {
        font-size: 14px;
    }

    .icon-block .icon-block__img i.fa {
        font-size: 22px;
        width: 80px;
        height: 80px;
    }
    .icon-block__img:before {
        top: 35px;
        width: 84px;
    }
    .icon-block .icon-block__text {
        font-size: 14px;
    }
    
    .order-block .order-info__title {
        font-size: 32px;
    }

    .order-block .order-info__text {
        font-size: 16px;
    }

    .form .form__group .form__input {
        width: 250px;
        height: 35px;
    }
    .form .form__group .dropdown__button {
        width: 250px;
        height: 35px;
    }

    .form .form__group .dropdown::after {
        top: 14px;
        right: 14px;
    }

    .range-attach .range-attach__file-button {
        width: 250px;
        height: 35px;
    }

    .range-slider .range-info p {
        font-size: 18px;
    }

    .range-slider  {
        width: 100%;
        margin-right: 20px;
    }
}

@media screen and (max-width: 992px) {
    header.header {
        height: 620px;       
    }

    .logo img {
        width: 160px;
    }
    ul.menu__box li {
        font-size: 14px;
    }
    .banner-info {
        margin-top: 60px;
        width: 500px;
    }

    .banner .banner-info__title {
        font-size: 32px;
        width: 550px;
    }
    .banner .banner-info__text p {
        margin-top: 60px;
    }
    .banner .button {
        margin-top: 60px;
    }

    .icon-block .icon-block__img i.fa {
        padding: 20px;
        font-size: 20px;
        width: 70px;
        height: 70px;
    }
    .form .form__group .form__input {
        font-size: 14px;
        width: 230px;
        height: 35px;
    }
    .form .form__group .dropdown__button {
        font-size: 14px;
        width: 230px;
        height: 35px;
    }

    .form .form__group .dropdown::after {
        top: 14px;
        right: 14px;
    }

    .range-attach .range-attach__file-button {
        font-size: 12px;
        width: 230px;
        height: 35px;
    }

    .range-slider .range-info p {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .range-slider input#range {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    header.header {
        height: 560px;       
    }
    
    ul.menu__box li {
        font-size: 12px;
    }

    input#menu__toggle {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 36px;
        /* left: 20px;       */
        width: 26px;
        height: 26px;      
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;      
        width: 100%;
        height: 2px;      
        background-color: #43ABF0;
        opacity: 90%;      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;      
        width: 340px;
        height: 100%;      
        margin: 0;
        padding: 80px 0;      
        list-style: none;
        overflow: auto;
        color: #fff; 
        background: #10101DE5;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);      
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }


    .banner-info {
        margin-top: 50px;
        width: 500px;
    }

    .banner .banner-info__title {
        font-size: 32px;
        width: 550px;
    }
    .banner .banner-info__text p {
        margin-top: 40px;
    }

    .banner .button {
        margin-top: 40px;
    }

    .order-block .order-info {
        padding-top: 60px;
    }
    .order-block .order-info__title {
        font-size: 28px;
    }
    
    .order-block .order-info__text {
        font-size: 14px;
        padding-top: 10px;
    }

    .order-icons {
        height: 220px;
    }

    .icon-block .icon-block__img {
        position: static;
    }

    .icon-block .icon-block__img i.fa {
        font-size: 15px;
        padding: 12px;
        width: 50px;
        height: 50px;
    }
    .icon-block__img:before {
        display: none;
    }
    .icon-block .icon-block__text {
        font-size: 12px;
    } 

    .form .form__group .form__input {
        width: 200px;
        height: 30px;
    }

    .form .form__group .dropdown__button {
        font-size: 14px;
        width: 200px;
        height: 30px;
    }

    .form .form__group .dropdown::after {
        top: 10px;
        right: 10px;
    }

    .order-block .order-range {
        display: block;
    }

    .range-slider input#range {
        width: 100%;
    }
    .range-attach .range-attach__file-button {
        width: 350px;
        height: 38px;
        margin: 0 auto;
    }

    .order-button button {
        width: 350px;
        height: 40px;
    }

}

@media screen and (max-width: 620px) {
    
    header.header {
        height: 400px;
    }
    .banner-info {
        margin-top: 20px;
        width: 460px;
    }
    .banner .banner-info__title {
        font-size: 20px;
        width: 350px;
        line-height: 38px;
    }
    .banner .banner-info__text p {
        margin-top: 10px;
    }
    .banner .button {
        margin-top: 20px;
    }
    .button button {
        width: 150px;
        height: 30px;
    }

    .order-block .order-info {
        padding-top: 36px;
    }
    .order-block .order-info__title {
        font-size: 24px;
    }

    .order-block .order-info__text {
        padding-top: 16px;
    }

    .order-block .order-icons {
        padding-top: 15px;
        display: inline-block;
        width: 100%;
    }

    .order-block .order-icons .icon-block {
        display: flex;
        width: 100%;
        height: 66px;
        align-items: baseline;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-content: center;
    }

    .icon-block__img {
        padding-right: 15px;
    }

    .icon-block .icon-block__text {
        font-size: 14px;
    }

    .icon-block .icon-block__img:before {
        top: 0;
        width: 0;
        background-image: none;
    }

    .order-form form {
        padding-top: 35px;
        display: block;
    }
    .form .form__group .form__input {
        width: 100%;
        height: 48px;        
        margin-bottom: 15px;
    }

    .form .form__group .dropdown__button {
        width: 100%;
        height: 48px;
    }

    .form .form__group .dropdown::after {
        top: 18px;
        right: 18px;
    }

    .order-block .range-attach {
        display: block;
    }

    .range-attach .range-attach__file-button {
        width: 70%;
        height: 38px;
        margin: 0 auto;
    }

    .order-button button {
        width: 70%;
        height: 38px;
    }

    .info-copy p {
        font-size: 10px;
        line-height: 12px;
    }
    .info .info-pay__img, .info .info-social__img {
        max-width: 90px;
        padding-right: 0px;
    }
}


@media screen and (max-width: 480px) {
    
    header.header {
        height: 400px;
    }
    .banner-info {
        margin-top: 20px;
        width: 460px;
    }
    .banner .banner-info__title {
        font-size: 20px;
        width: 350px;
        line-height: 38px;
    }
    .banner .banner-info__text p {
        margin-top: 10px;
    }
    .banner .button {
        margin-top: 20px;
    }
    .button button {
        width: 150px;
        height: 30px;
    }

    .order-block .order-info {
        padding-top: 36px;
    }
    .order-block .order-info__title {
        font-size: 24px;
    }

    .order-block .order-info__text {
        padding-top: 16px;
    }

    .order-block .order-icons {
        padding-top: 15px;
        display: inline-block;
        width: 100%;
    }

    .order-block .order-icons .icon-block {
        display: flex;
        width: 100%;
        height: 66px;
        align-items: baseline;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-content: center;
    }

    .icon-block__img {
        padding-right: 15px;
    }

    .icon-block .icon-block__text {
        font-size: 14px;
    }

    .icon-block .icon-block__img:before {
        top: 0;
        width: 0;
        background-image: none;
    }

    .order-form form {
        padding-top: 35px;
        display: block;
    }
    .form .form__group .form__input {
        width: 100%;
        height: 48px;        
        margin-bottom: 15px;
    }

    .form .form__group .dropdown__button {
        width: 100%;
        height: 48px;
    }

    .range-attach .range-attach__file-button {
        width: 70%;
        height: 38px;
        margin: 0 auto;
    }

    .order-button button {
        width: 70%;
        height: 38px;
    }

    .info-copy p {
        font-size: 10px;
        line-height: 12px;
    }
    .info .info-pay__img {
        max-width: 90px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 430px) {
    .banner .banner-info__text {
        width: 370px;
    }
    .range-slider input#range {
        width: 350px;
    }
}

@media screen and (max-width: 320px) {
    
    header.header {
        height: 500px;
    }
    .banner-info {
        margin-top: 20px;
        width: 100%;
    }
    .banner .banner-info__title {
        width: 300px;
        line-height: 30px;
    }
    .banner .banner-info__text {
        width: 300px;
    }
    .banner .button {
        margin-top: 20px;
    }
    .button button {
        width: 100px;
        height: 30px;
    }
    .range-slider .range-info p {
        font-size: 12px;
    }
    .range-slider input#range {
        width: 260px;
    }

    .footer {
        height: 80px;
        display: block;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .info .info-copy {
        margin: 15px 0;
    }

    .info .info__line.info__line_small {
        display: none;
    }
}